{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <h1>Artists</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ artist.pseudo }}</td>
            </tr>
            <tr>
                <th>Baseline</th>
                <td>{{ artist.baseline }}</td>
            </tr>
            <tr>
                <th>Droit</th>
                <td>{{ artist.droit }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ artist.password }}</td>
            </tr>
            <tr>
                <th>UrlPageArtist</th>
                <td>{{ artist.urlPageArtist }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artist.description }}</td>
            </tr>
            <tr>
                <th>EmailArtist</th>
                <td>{{ artist.emailArtist }}</td>
            </tr>
            <tr>
                <th>UrlImageAvatar</th>
                <td>{{ artist.urlImageAvatar }}</td>
            </tr>
            <tr>
                <th>UrlSiteWebArtist</th>
                <td>{{ artist.urlSiteWebArtist }}</td>
            </tr>
            <tr>
                <th>UrlFacebookArtist</th>
                <td>{{ artist.urlFacebookArtist }}</td>
            </tr>
            <tr>
                <th>UrlInstagramArtist</th>
                <td>{{ artist.urlInstagramArtist }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ artist.dateCreation ? artist.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adminArtistes') }}">back to list</a>

    <a href="{{ path('artists_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artists/_delete_form.html.twig') }}
{% endblock %}
