{% extends 'base.html.twig' %}
{% block title %}Administration Galerie{% endblock %}
{% block body %}
    <h1 style="color:RGB(229, 179, 0);text-decoration:underline">Page d'administration de la galerie</h1>
    <h2>Liste des images :</h2>
    <table class="table">
        <thead>
            <tr class="bg-warning">
                <th>Id</th>
                <th>Nom de l'image</th>
                <th>Adresse de l'image</th>
                <th>Nombre de Likes</th>
                <th>Dernière modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for gallery in galleries %}
                <tr>
                    <td>
                        {{ gallery.id }}</td>
                    <td>
                        {{ gallery.imgName }}</td>
                    <td>
                        <img src="{{ gallery.urlImgOriginal }}" alt="Prévisualisation de l'image"></td>
                        <td>
                            {{ gallery.imgLike }}</td>
                        <td>
                            {{ gallery.dateUpdate ? gallery.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('gallery_show', {'id': gallery.id}) }}">Voir</a>
                            <a href="{{ path('gallery_edit', {'id': gallery.id}) }}">Modifier</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">Pas de résultats trouvés</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('gallery_new') }}">Enregistrer une image</a>
    {% endblock %}
