<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <title>{% block title %}AKA 77{% endblock %}</title>
  
        {% block stylesheets %}        
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/lightbox.css')) }} ">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/main.css')) }} ">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }} ">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/gallery.css')) }} ">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/slider.css')) }} ">
        {% endblock %}

    </head>

<body id="topPage">
<a href="#topPage" class="smooth-scroll" ><div class="back-to-top" style=""><i class="fas fa-angle-up"></i></div></a>

    <header>

        {% block header %}
        {% set routeActive = app.request.attributes.get('_route') %}

        <nav>
            <a href="#">AKA77</a>
            <a href="{{ url('galerie') }}">GALERIE</a>
            <a href="#">ACTU</a>
            <a href="#">ARTISTE</a>
            <a href="#">CONTACT</a>                
        </nav>


        <nav>
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="{{ url('admin') }}"><i class="fas fa-wrench"></i>. admin</a>
        </nav>


        {% endblock %}

        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

     
        {% block footer %}
   

<section class="inscription-newsletter">
<article>

<h5>INSCRIPTION NEWSLETTER</h5>

<form >        
       
            <label for="name"> </label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Nom" value="">
            <div class="valid-feedback"></div>

            <label for="email"></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Mail" value="">
            <div class="valid-feedback"></div>      
            
            <button class="btn btn-primary" type="submit" style="margin-top:30px;text-align:right;">envoyer</button>
            
            <input type="hidden" name="idForm" value="newsletterCreate" >
      
</form>


<div class="message-form"><?php echo $newsletterCreateMessage ?? "" ?></div>

</article>
</section>


      <footer>
        <h6>copyright @2018</h6>
      </footer>
      
      
      {% endblock %}
        
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
<script src="{{ absolute_url(asset('assets/js/lightbox.js')) }}"></script>




{% block javascripts %}


<script>

/********** LIGHTBOX *************/

    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })

/***************** HEADER ************/

window.setInterval(() => {
console.log(window.pageYOffset)
      if(window.pageYOffset>100){

        $(".header-2").fadeIn();

       }

       else

     $(".header-2").fadeOut();

    }, 100)



/************* BACK to TOP  *********** */

window.setInterval(() => {
console.log(window.pageYOffset)
      if(window.pageYOffset>100){

        $(".back-to-top").fadeIn();

       }

       else

     $(".back-to-top").fadeOut();

    }, 100)
    
// Smooth scroll
      $(document).ready(function () {
      
        $(".smooth-scroll").on('click', function (event) {
          console.log(this.hash)

          if (this.hash !== "") {
      
            event.preventDefault();

         
            var hash = this.hash;


            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 1000, function () {

      
              window.location.hash = hash;
            });
          } 
        });
      });
</script>
        
        {% endblock %}




    </body>
</html>
