{% extends 'base-front.html.twig' %}

{% block header %}


   {{ parent() }}

{% endblock %}


{% block body %}



  {% for image in gallerys %}
   <section class="general-galery">
           
            <a href="{{image.urlImgOriginal}}" data-lightbox="roadtrip" data-title="{{image.imgName}}  par Auteur <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="{{image.urlImgOriginal}}" data-index-id={{image.id}}
        data-index-like={{image.imgLike}}>
            </div>

       
    </section>
            
 {% endfor  %}

{% endblock %}
